*{
    background-color: #60758c;
}

.contato{
    max-width: 550px;
    margin: 50px auto;
    padding: 30px;
}

.contato h2{
    text-align: center;
    margin-bottom: 30px;
}

form{
    display: flex;
    flex-direction: column;
    margin: auto;
}

form label{
    margin-top: 5px;
    margin-bottom: 2px;
    
}

form input, form textarea{
    padding: 6px;
    border: 2px inset;
    border-radius: 5px;
    font-size: 16px;
    background-color: rgb(145, 161, 170);
    border-radius: 8px;
    border: 2px;
}

form textarea{
    resize: vertical;
    height: 50px;
}

form button{
    margin-top: 5px;
    padding: 7px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: 0.3s;
}

form button:hover{
    background-color: rgb(116, 154, 185);
}

html, body{
    margin: 0;
}